#dashboard-container{
	display: flex;
	flex-flow: column;
	height: 100vh;
}

#main-content{
	flex: 1 1 auto;
    display: flex;
}

#history-container{
	flex: auto;
	padding: 20px;
}

.upload-title{
	margin-bottom: 5vh;
	color:whitesmoke;
	bottom:100%;
}

hr{
	margin-top: 5vh;
	margin-bottom: 5vh;

}

#upload-container{
	flex: auto;
	width: fit-content;
	max-width: 30vh;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgb(42, 42, 42);
	border-radius: 0%;
}

#upload-container form{
	display: flex;
	flex-direction: column;
	margin:1vw;
}

#upload-container #uploaded-file-name{
	font-size: small;
	color:grey;
}

#scores{
	display:flex;
}