.card {
	max-width: 34vw;
	min-height : 30vh;
	margin-top: 0vh;
	font-size: medium;
	padding:7vh;
	border-radius: 10%;
	border-width: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#login{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#background{
	background-image: url("../img/background2.gif");
	
	/* Add the blur effect */
	filter: blur(5px);
	
	/* Full height */
	min-height: 100vh;
	min-width: 100vw;
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}