.score{
	margin: 10px;
	max-width: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.score-title{
	float: center;
}

.score-link{
	vertical-align: middle;
	text-decoration: none;
	float: center;
}

.score-link :hover{
	cursor: pointer;
}