.score{
	margin: 10px;
	max-width: 18vh;
	max-height: 27vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.score-title{
	float: center;
}

.score-link{
	vertical-align: middle;
	text-decoration: none;
	float: center;
}

.score-link :hover{
	cursor: pointer;
}

#card1 {
	background-image: url("../img/score.jpeg");
	background-size: 140%;
	z-index: 100;
	width: 1000px;
	height: 4000px;
	border-radius: 25px;
	border: 4px solid purple;
}

.grow { 
	transition: all .2s ease-in-out; 
	}
	
.grow:hover { 
transform: scale(1.2); 
}

#title1 {
	padding-bottom: 10px;
	color: blue;
	font-size: 28px;
	font-family: URW Chancery L, cursive;
}